uvicorn
fastapi
pydantic
httpx

singleton_package
json-advanced
python-dotenv
debugpy
ipython

sqlalchemy
alembic
asyncpg
psycopg2-binary
databases

aiocache
aiofiles
aiosqlite
usso[fastapi]

beanie
fastapi-mongo-base
ufaas-fastapi-business